*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img{
    height: 900px;
    width: 900px;
    background-attachment:fixed;
}

.container{
    height: 600px;
    width: 700px;
    text-align: center;
    border: 2px solid gray;
}