* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  height: 250px;
  width: 250px;
  margin: auto;
  margin-top: 50px;
  background-color: aquamarine;
  text-align: center;
  transition-duration: 1s;
  transition-delay: 1s;
  
  transition-timing-function: linear;
  
}

.box:hover {
  background-color: blueviolet;
  border-radius: 50%;
  
}