* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


p::first-letter {
  font-size: 50px;
  color: chartreuse;
}

.list::first-line {
  color: blue;
  font-size: 60px;
}



.list li:first-child {
  font-family: cursive;
}

.list li:last-child {
  font-style: italic;
}

.list li:nth-child(3) {
  color: burlywood;
}