
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

@media (width<=400px) {
  body {
    background-color: rgb(255, 165, 165);
  }
}

@media (orientation: portrait) {
  body {
    background-color: rgb(103, 79, 243);
  }
}

@media (orientation: landscape) {
  body {
    background-color: rgb(83, 47, 117);
  }
}

/* ending point */
@media (max-width: 600px) {
  body {
    background-color: rgb(184, 255, 112);
  }
}

/* starting point */
@media (min-width: 300px) {
  body {
    background-color: rgb(22, 10, 10);
  }
}

/* @media (min-width: 200px) and (max-width: 800px) {
  body {
    background-color: chocolate;
  }
} */

@media print and (max-width: 500px) {
  body {
    background-color: rgb(233, 123, 255);
  }

  h1 {
    font-size: 100px;
  }
}

@media screen and (max-width: 500px) {
  body {
    background-color: rgb(112, 18, 97);
  }

  h1 {
    font-size: 100px;
  }
}

@media (200px<width<800px) {
  body {
    background-color: rgb(178, 224, 255);
  }
}