body {
    font-family: Arial, sans-serif;
    background: white;
    text-align: center;
}

.resume-box {
    width: 70%;
    margin: 40px auto;
    padding: 40px;
    border: 5px solid black;
}

h1 {
    font-size: 38px;
    letter-spacing: 2px;
}

.sub {
    font-style: italic;
    margin-top: -10px;
    font-size: 18px;
    color: #555;
}

h2 {
    margin-top: 30px;
    text-decoration: underline;
}

p {
    margin-top: 10px;
    font-size: 16px;
}
