*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img{
    height: 900px;
    width: 1920px;
    background-size: cover;
}

.container img{
    height: 600px;
    width: 630px;
    background-repeat: no-repeat;
    background-size: cover;
}
