*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 800px;
    width: 800px;
    margin: auto;
    border: 2px solid red;
    border: double;
    display: flex;
    text-align: center;
}

.p{
   height: 20px;
   width: 100px;  
   
}

.box {
  margin-top: 100px;
  height: 200px;
  width: 500px;
  border: 2px solid black;
  text-align: center;
}

.orange{
    background-color: orange;
  
  top: 100px;
  bottom: 50px;
  right: 50px;
  left: 100px;
  position: static;
}


