* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  height: 500px;
  width: 500px;
  border: 2px solid black;
  margin-top: 100px;
}

.box {
  height: 200px;
  width: 200px;
  border: 3px dotted black;
  background-color: gray;
}

.box:hover {

  transform: translateY(150px);
}