
body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}


.container {
    display: flex; 
    background-color: #ffff00;
    height: 150px;
    border: 2px solid black;
    margin-top: 20px;
    padding: 10px;
}

.item {
    width: 50px;
    height: 50px;
    background-color: orange;
    border: 1px solid red;
    margin: 5px;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}




input[type="radio"] {
    display: none; 
}

.buttons label {
    background: #ddd;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #999;
    margin-right: 5px;
    display: inline-block;
}


.buttons label:hover {
    background: #ccc;
}



#r-start:checked ~ .container {
    justify-content: flex-start;
}


#r-center:checked ~ .container {
    justify-content: center;
}


#r-end:checked ~ .container {
    justify-content: flex-end;
}


#r-space:checked ~ .container {
    justify-content: space-between;
}