*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    align-items: center;
   
    
}

.container{
    width: 100%;
    height: 100%;
    align-content: center;
    background-color: darkgrey;
    
}

h2{
    text-align: center;
    margin-top: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

button{
    margin-top: 20px;
    width: 100px;
    color: white;
    background-color: rgb(63, 63, 211);
}
