* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  height: 900px;
  width: 800px;
  border: 2px solid black;
  display: grid;
  /* grid-template-columns: 100px 100px 100px 200px; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 100px 200px; */
  /* grid-row: auto; */
  gap: 10px;
  /* row-gap: 10px; */
  /* column-gap: 10px; */
  /* justify-content: center;
  align-items: stretch; */
}

.box {
  /* height: 100px;
  width: 100px; */
  border: 1px solid black;
}

#box-1 {
  background-color: blueviolet;
  grid-column-start: 1;
  grid-column-end: -1;
  /* grid-column: 1 / span 2; */
}