
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #333;
    padding: 20px;
    color: white;
}


.label-bar {
    background-color: #444;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border-left: 5px solid #eaee2b;
    margin-top: 30px;
}


.container {
    background-color: #eaee2b; 
    padding: 20px;
    border: 1px solid #ccc;
    
    
    display: flex; 
    
    
    gap: 10px; 
    
    margin-bottom: 10px;
}


.item {
    background-color: #fff3cd; 
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    border: 1px solid #e0d8b0;
}




.row-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto; 
}


.row-wrap {
    flex-flow: row wrap;
}


.column-mode {
    flex-direction: column;
}


.column-wrap {
    flex-flow: column wrap;
    height: 300px; 
}