* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 2px dashed darkblue;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.box {
  height: 100px;
  width: 100px;
  border: 2px solid black;
}

#box-1 {
  background-color: blueviolet;
}

#box-2 {
  background-color: aqua;
}

#box-3 {
  background-color: brown;
}

#box-4 {
  background-color: burlywood;
}

#box-5 {
  background-color: cadetblue;
}
/* 
@media print and (max-width: 768px) {
  body {
    background-color: black;
  }
  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
} */

/* 
@media screen and (max-width: 768px) {
  body {
    background-color: black;
  }
  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
} */

@media (min-width: 200px) {
  .box {
    border-radius: 50%;
  }
}

@media (max-width: 768px) {
  body {
    background-color: black;
  }
  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
}