* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(122, 122, 122);
}

.box {
  border: 5px dotted rgb(139, 0, 0);
  height: 500px;
  width: 500px;
  margin: auto;
  padding: 50px;
  margin: 50px;
  /* margin-top: ; */
  /* padding-bottom: ; */
  background-color: rgb(0, 0, 0);
  border-color: rgb(0, 240, 180);
}

.box p {
  background-color: rgb(98, 0, 255);
  height: 200px;
  width: 400px;
}